{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Сканер чеков | {% block title %}Загрузить изображение на сканирование{% endblock %}</title>

	<link rel="stylesheet"
				href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<link rel="stylesheet" href="{% static 'receipts/plugins/fontawesome-free/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'receipts/css/adminlte.min.css' %}">
	<link rel="stylesheet" href="{% static 'receipts/plugins/toastr/toastr.min.css' %}">

	{% block extra_css %}{% endblock %}

</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

	<!-- Навбар (верхняя панель) -->
	<nav class="main-header navbar navbar-expand navbar-white navbar-light">
		<!-- Левые ссылки -->
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
			</li>
		</ul>

		<!-- Правые ссылки -->
		<ul class="navbar-nav ml-auto">
			<!-- Navbar Search -->
			{% comment %}
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>
      {% endcomment %}
			<!-- Messages Dropdown Menu -->
			{% comment %}
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="{% static 'atk_admin/img/user1-128x128.jpg' %}" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="{% static 'atk_admin/img/user8-128x128.jpg' %}" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  John Pierce
                  <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="{% static 'atk_admin/img/user3-128x128.jpg' %}" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Nora Silvester
                  <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>
      {% endcomment %}
			<!-- Notifications Dropdown Menu -->
			{% comment %}
			<li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
			{% endcomment %}

			<li class="nav-item">
				<a class="nav-link" data-widget="fullscreen" href="#" role="button">
					<i class="fas fa-expand-arrows-alt"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
					<i class="fas fa-th-large"></i>
				</a>
			</li>
		</ul>
	</nav>

	<!-- Боковое меню -->
	<aside class="main-sidebar sidebar-dark-primary elevation-4">
		<!-- Логотип -->
		<a href="#" class="brand-link text-center">
			<span class="brand-text"><b>Сканер</b> чеков</span>
		</a>

		<!-- Боковая панель -->
		<div class="sidebar">
			<!-- Информация о пользователе -->
			<div class="user-panel mt-3 pb-3 mb-3 d-flex">
				<div class="image">
					<img src="{% static 'receipts/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
				</div>
				<div class="info">
					<a href="#" class="d-block">{{ user.email }}</a>
				</div>
			</div>

			<!-- Меню -->
			<nav class="mt-2">
				<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
					<!-- Пункт YandexVision -->
					<li class="nav-item">
						<a href="{% url 'receipts:upload_receipt' %}" class="nav-link">
							<i class="nav-icon fas fa-eye"></i>
							<p>YandexVision</p>
						</a>
					</li>

					<!-- Пункт Tesseract -->
					<li class="nav-item">
						<a href="{% url 'receipts:upload_receipt_tesseract' %}" class="nav-link">
							<i class="nav-icon fas fa-font"></i>
							<p>Tesseract</p>
						</a>
					</li>

					<!-- Пункт История -->
					<li class="nav-item">
						<a href="{% url 'receipts:receipt_history' %}" class="nav-link">
							<i class="nav-icon fas fa-history"></i>
							<p>История</p>
						</a>
					</li>

					<!-- Новые добавленные пункты -->
					<li class="nav-item">
						<a href="{% url 'users' %}" class="nav-link">
							<i class="nav-icon fas fa-users"></i>
							<p>Пользователи</p>
						</a>
					</li>

					<li class="nav-item">
						<a href="{% url 'extract' %}" class="nav-link">
							<i class="nav-icon fas fa-file-alt"></i>
							<p>Выписки</p>
						</a>
					</li>

					<li class="nav-item">
						<a href="{% url 'orders' %}" class="nav-link">
							<i class="nav-icon fas fa-shopping-cart"></i>
							<p>Заказы</p>
						</a>
					</li>

					<!-- Разделитель (опционально) -->
					<li class="nav-header">ДОПОЛНИТЕЛЬНО</li>

					<!-- Пример подменю (опционально) -->
					<li class="nav-item has-treeview">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-cog"></i>
							<p>
								Настройки
								<i class="right fas fa-angle-left"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a href="#" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>Профиль</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>API Ключи</p>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</aside>

	<!-- Основное содержимое -->
	<div class="content-wrapper">
		{% block content %}{% endblock %}
	</div>

	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Control sidebar content goes here -->
		<div class="p-3">
			<h5>Настройки</h5>
			<p></p>
		</div>
	</aside>
	<!-- /.control-sidebar -->

	<!-- Подвал -->
	<footer class="main-footer text-right">
		<div class="float-right d-none d-sm-inline"></div>
		<strong>Сканер чеков &copy; {% now "Y" %}</strong>
	</footer>
</div>

<!-- Скрипты -->
<script src="{% static 'receipts/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'receipts/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'receipts/js/adminlte.min.js' %}"></script>

{% block extra_js %}{% endblock %}

</body>
</html>